@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-animate {
  opacity: 0;
  animation: fadeIn 0.25s ease-in-out forwards;
}

.background-mask {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 18.66%,
    #000 31.11%,
    #000 48.11%,
    rgba(0, 0, 0, 0) 100%
  );
  mix-blend-mode: soft-light;
  inset: 0;
  position: absolute;
  opacity: 0;
  animation: fadeIn 0.45s ease-in-out forwards;
}
.background-overlay {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(
      0deg,
      rgba(0, 149, 136, 0.1) 0%,
      rgba(0, 149, 136, 0.1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(0, 240, 220, 0.1) 0%,
      rgba(0, 240, 220, 0.1) 100%
    );
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 0.45s ease-in-out forwards;
}
