.floating-upgrade-border {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.floating-upgrade-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating-upgrade-button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff26;
}
