.subscription-bg-primary {
  border-radius: 23px;
  background: linear-gradient(
    180deg,
    rgba(0, 166, 129, 0.1) 0%,
    rgba(0, 166, 129, 0.4) 100%
  );
  box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.25);
}

.subscription-card-green-tier3 {
  background: linear-gradient(
    180deg,
    rgba(0, 166, 129, 0.1) 0%,
    rgba(0, 166, 129, 0.4) 100%
  );
}

.subscription-border-primary {
  border: 1px solid #82f4b1;
}

.subscription-border-primary-v2 {
  border: 1px solid #0abf93;
}

.subscription-border-default {
  background: linear-gradient(
    180deg,
    rgba(188, 188, 188, 0.1) 0%,
    rgba(188, 188, 188, 0.4) 100%
  );
}
.subscription-card-green {
  background: linear-gradient(
    180deg,
    rgba(0, 166, 129, 0.4) 0%,
    rgba(0, 166, 129, 0.1) 100%
  );
}
.feature-card-gradient {
  background: rgba(0, 0, 0, 0.2);
  box-shadow:
    0 0 12px 0 rgba(10, 191, 147, 0.4) inset,
    0 0 48px 0 rgba(10, 191, 147, 0.4) inset;
}
.subs-detail-gradient {
  background: rgba(10, 191, 147, 0.05);
  box-shadow:
    0 0 24px 0 rgba(10, 191, 147, 0.2) inset,
    0 0 120px 0 rgba(10, 191, 147, 0.2) inset;
}
.subscription-card-tier2 {
  &:after {
    background: linear-gradient(
      180deg,
      rgba(129, 129, 129, 0.1) 0%,
      rgba(129, 129, 129, 0.4) 100%
    );
  }
}
.subscription-card-tier3 {
  &:after {
    background: linear-gradient(
      180deg,
      rgba(129, 129, 129, 0.1) 0%,
      rgba(129, 129, 129, 0.4) 100%
    );
  }
}
.shadow-base {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.subscription-card-shadow {
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.25);
  @media (max-width: 1023px) {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  @media (max-width: 1023px) {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .mobile-marquee {
    @media (max-width: 1023px) {
      width: max-content;
      will-change: transform;
      animation-name: marquee;
      animation-duration: 24s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 1.5s;
      margin: 0;
      padding: 0;

      > * {
        flex: 0 0 calc(50vw - 2rem);
        min-width: calc(50vw - 2rem);
        max-width: calc(50vw - 2rem);
        width: calc(50vw - 2rem);
      }
    }
  }
  &:hover .mobile-marquee {
    @media (max-width: 1023px) {
      animation-play-state: paused;
    }
  }
}
