.overlay-section-top {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #0a0a0a 0%,
    rgba(10, 10, 10, 0.1) 20%,
    transparent 60%
  );
}

.overlay-section-bottom {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to top,
    #0a0a0a 0%,
    rgba(10, 10, 10, 0.1) 20%,
    transparent 60%
  );
}
