.badge-button {
  position: relative;
  white-space: nowrap;
  width: max-content;

  padding: 3.75px 6px 3.75px 6px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    filter: blur(1px);
    pointer-events: none;
    z-index: 0;
  }
}

.badge-button-new {
  &::before {
    background: radial-gradient(
      ellipse at center,
      rgba(0, 166, 129, 0.5) 0%,
      rgba(255, 216, 117, 0) 70%
    );
  }
  &::after {
    border: 0.5px solid #00a681;
  }
}
.badge-button-premium {
  &::before {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 216, 117, 0.5) 0%,
      rgba(255, 216, 117, 0) 70%
    );
  }
  &::after {
    border: 0.5px solid #ffd875;
  }
}
.badge-button-expired {
  &::before {
    background: radial-gradient(
      ellipse at center,
      rgba(160, 160, 160, 0.3) 0%,
      rgba(160, 160, 160, 0.2) 70%
    );
  }
  &::after {
    border: 0.5px solid #a0a0a0;
  }
}

.badge-button-free {
  &::before {
    background: transparent;
  }
}

.badge-button-large {
  padding: 6px 11px 6px 9px;
  &::before {
    bottom: -36px;
  }
}

.badge-button-small {
  padding: 0px 5px 0px 5px;
  &::before {
    bottom: -36px;
  }
}

.badge-text {
  font-size: 10px;
  line-height: 12.5px;
  background: linear-gradient(
    180deg,
    #fff 0%,
    #ffd76f 60%,
    rgba(255, 215, 111, 0) 100%
  );
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
}
.badge-text-new {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #00a681 60%,
    rgba(255, 215, 111, 0) 100%
  );
  background-clip: text;
}
.badge-text-premium {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #ffd76f 60%,
    rgba(255, 215, 111, 0) 100%
  );
  background-clip: text;
}
.badge-text-bronze {
  background: linear-gradient(
    180deg,
    #f6f6f6 0%,
    #a0a0a0 20%,
    rgba(255, 215, 111, 0) 100%
  );
  background-clip: text;
}

.badge-text-large {
  font-size: 14px;
  line-height: 20px;
}

.badge-text-small {
  font-size: 10px;
  line-height: 16px;
}
