.loader {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  display: block;
}

.large {
  width: 12px;
  height: 12px;
  box-shadow:
    24px 0 var(--theme-color-loader-shadow-start),
    -24px 0 var(--theme-color-loader-shadow-end);
  animation: large_loader 0.5s ease-out infinite alternate;
  margin-left: 24px;
}

.base {
  width: 8px;
  height: 8px;
  box-shadow:
    16px 0 var(--theme-color-loader-shadow-start),
    -16px 0 var(--theme-color-loader-shadow-start);
  animation: base_loader 0.5s ease-out infinite alternate;
  margin-left: 16px;
}

@keyframes base_loader {
  0% {
    background-color: var(--theme-color-loader-background);
    box-shadow:
      16px 0 var(--theme-color-loader-shadow-end),
      -16px 0 var(--theme-color-loader-shadow-start);
  }

  50% {
    background-color: #fff;
    box-shadow:
      16px 0 var(--theme-color-loader-background),
      -16px 0 var(--theme-color-loader-background);
  }

  100% {
    background-color: #fff2;
    box-shadow:
      16px 0 var(--theme-color-loader-shadow-start),
      -16px 0 var(--theme-color-loader-shadow-end);
  }
}

@keyframes large_loader {
  0% {
    background-color: #fff2;
    box-shadow:
      24px 0 var(--theme-color-loader-background),
      -24px 0 var(--theme-color-loader-shadow-start);
  }

  50% {
    background-color: #fff;
    box-shadow:
      24px 0 var(--theme-color-loader-background),
      -24px 0 var(--theme-color-loader-background);
  }

  100% {
    background-color: #fff2;
    box-shadow:
      24px 0 var(--theme-color-loader-shadow-start),
      -24px 0 var(--theme-color-loader-background);
  }
}

.loaderRound {
  background-color: transparent;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0 -3em 0 0.2em,
      2em -2em 0 0em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow:
      0 -3em 0 0,
      2em -2em 0 0.2em,
      3em 0 0 0,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow:
      0 -3em 0 -0.5em,
      2em -2em 0 0,
      3em 0 0 0.2em,
      2em 2em 0 0,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0em 0 0,
      2em 2em 0 0.2em,
      0 3em 0 0em,
      -2em 2em 0 -1em,
      -3em 0em 0 -1em,
      -2em -2em 0 -1em;
  }

  50% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 0em,
      0 3em 0 0.2em,
      -2em 2em 0 0,
      -3em 0em 0 -1em,
      -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 0,
      -2em 2em 0 0.2em,
      -3em 0 0 0,
      -2em -2em 0 -1em;
  }

  75% {
    box-shadow:
      0em -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0em 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 0,
      -3em 0em 0 0.2em,
      -2em -2em 0 0;
  }

  87.5% {
    box-shadow:
      0em -3em 0 0,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 0,
      -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}
