@keyframes expanded {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 25px;
    opacity: 1;
  }
}

.stepAnimate {
  animation-name: expanded;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  height: 0;
}
