/* Device: tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --text-size-v1-font-size-body-scale-150: 12px;
    --text-size-v1-font-size-body-scale-175: 14px;
    --text-size-v1-font-size-body-scale-200: 16px;
    --text-size-v1-font-size-body-scale-225: 18px;
    --text-size-v1-font-size-heading-scale-0: 16px;
    --text-size-v1-font-size-heading-scale-1: 20px;
    --text-size-v1-font-size-heading-scale-2: 24px;
    --text-size-v1-font-size-heading-scale-3: 32px;
    --text-size-v1-font-size-heading-scale-4: 40px;
    --text-size-v1-font-size-heading-scale-n1: 14px;
    --text-size-v1-font-size-display-scale-1: 28px;
    --text-size-v1-font-size-display-scale-2: 36px;
    --text-size-v1-font-size-display-scale-3: 44px;
    --text-size-v1-font-size-functional-scale-0: 12px;
    --text-size-v1-font-size-functional-scale-1: 14px;
    --text-size-v1-font-size-functional-scale-2: 16px;
    --text-size-v1-font-size-functional-scale-3: 18px;
    --text-size-v1-font-size-functional-scale-n2: 8px;
    --text-size-v1-font-size-functional-scale-n1: 10px;
    --text-size-v1-font-size-meta-scale-0: 10px;
    --text-size-v1-font-size-meta-scale-1: 12px;
    --text-size-v1-font-size-meta-scale-2: 14px;
    --text-size-v1-font-size-meta-scale-n1: 8px;
    --text-size-v1-line-height-body-scale-150: 20px;
    --text-size-v1-line-height-body-scale-175: 20px;
    --text-size-v1-line-height-body-scale-200: 24px;
    --text-size-v1-line-height-body-scale-225: 28px;
    --text-size-v1-line-height-heading-scale-0: 20px;
    --text-size-v1-line-height-heading-scale-1: 28px;
    --text-size-v1-line-height-heading-scale-2: 32px;
    --text-size-v1-line-height-heading-scale-3: 44px;
    --text-size-v1-line-height-heading-scale-4: 52px;
    --text-size-v1-line-height-heading-scale-n1: 20px;
    --text-size-v1-line-height-display-scale-1: 36px;
    --text-size-v1-line-height-display-scale-2: 44px;
    --text-size-v1-line-height-display-scale-3: 56px;
    --text-size-v1-line-height-functional-scale-0: 16px;
    --text-size-v1-line-height-functional-scale-1: 20px;
    --text-size-v1-line-height-functional-scale-2: 20px;
    --text-size-v1-line-height-functional-scale-3: 24px;
    --text-size-v1-line-height-functional-scale-n2: 12px;
    --text-size-v1-line-height-functional-scale-n1: 12px;
    --text-size-v1-line-height-meta-scale-0: 12px;
    --text-size-v1-line-height-meta-scale-1: 16px;
    --text-size-v1-line-height-meta-scale-2: 20px;
    --text-size-v1-line-height-meta-scale-n1: 12px;
    --text-size-v1-letter-spacing-body-scale-150: 0px;
    --text-size-v1-letter-spacing-body-scale-175: 0px;
    --text-size-v1-letter-spacing-body-scale-200: 0px;
    --text-size-v1-letter-spacing-body-scale-225: 0px;
    --text-size-v1-letter-spacing-heading-scale-0: 0px;
    --text-size-v1-letter-spacing-heading-scale-1: 0px;
    --text-size-v1-letter-spacing-heading-scale-2: 0px;
    --text-size-v1-letter-spacing-heading-scale-3: -0.1599999964237213px;
    --text-size-v1-letter-spacing-heading-scale-4: -0.20000000298023224px;
    --text-size-v1-letter-spacing-heading-scale-n1: 0.8399999737739563px;
    --text-size-v1-letter-spacing-display-scale-1: -0.2800000011920929px;
    --text-size-v1-letter-spacing-display-scale-2: -0.36000001430511475px;
    --text-size-v1-letter-spacing-display-scale-3: -0.4399999976158142px;
    --text-size-v1-letter-spacing-functional-scale-sentence-0: 0.11999999731779099px;
    --text-size-v1-letter-spacing-functional-scale-sentence-1: 0.14000000059604645px;
    --text-size-v1-letter-spacing-functional-scale-sentence-2: 0px;
    --text-size-v1-letter-spacing-functional-scale-sentence-3: 0px;
    --text-size-v1-letter-spacing-functional-scale-sentence-n2: 0.07999999821186066px;
    --text-size-v1-letter-spacing-functional-scale-sentence-n1: 0.10000000149011612px;
    --text-size-v1-letter-spacing-functional-scale-allcap-0: 0.9599999785423279px;
    --text-size-v1-letter-spacing-functional-scale-allcap-1: 0.8399999737739563px;
    --text-size-v1-letter-spacing-functional-scale-allcap-2: 0.9599999785423279px;
    --text-size-v1-letter-spacing-functional-scale-allcap-3: 1.0800000429153442px;
    --text-size-v1-letter-spacing-functional-scale-allcap-n2: 0.6399999856948853px;
    --text-size-v1-letter-spacing-functional-scale-allcap-n1: 0.800000011920929px;
    --text-size-v1-letter-spacing-meta-scale-sentence-0: 0.20000000298023224px;
    --text-size-v1-letter-spacing-meta-scale-sentence-1: 0.23999999463558197px;
    --text-size-v1-letter-spacing-meta-scale-sentence-2: 0.2800000011920929px;
    --text-size-v1-letter-spacing-meta-scale-sentence-n1: 0.1599999964237213px;
    --text-size-v1-letter-spacing-meta-scale-allcap-0: 0.800000011920929px;
    --text-size-v1-letter-spacing-meta-scale-allcap-1: 0.9599999785423279px;
    --text-size-v1-letter-spacing-meta-scale-allcap-2: 0.8399999737739563px;
    --text-size-v1-letter-spacing-meta-scale-allcap-n1: 0.6399999856948853px;
    --spacing-v1-grid-columns: 8px;
    --spacing-v1-grid-gutter: 24px;
    --spacing-v1-grid-width: 96px;
    --spacing-v1-grid-margin: 24px;
  }
}
