.feedback-carousel .swiper-pagination.swiper-pagination-bullets {
  bottom: -6px;
}

.feedback-carousel .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3);
  width: 8px;
  height: 8px;
  opacity: 1;
}

.feedback-carousel .swiper-pagination-bullet-active {
  background-color: #00bfa6;
}
