@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.button-animation-teal {
  @keyframes borderMove {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
  position: relative;
  border-radius: 50px;
  border: 2px solid rgba(5, 185, 139, 0);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 54px;
    background: conic-gradient(
      from var(--angle),
      #05b98b00 30%,
      #fbffed,
      #d7fff5,
      #44fcff,
      #05b98b00 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: subtract;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    padding: 2px;
    animation: borderMove 3s linear infinite;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 50px;
    z-index: -2;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
}
